body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #22046b;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.pagewrapper{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    position: absolute;
    background-color: white;
    z-index: 2;
}
.formwrapper{
    width: 70%;
    height: auto;
    display: grid;
    margin-top: 2em;
    grid-template-columns: 1fr 1fr;
    box-sizing: border-box;
}
.img{
    background: url(../img/semen-borisov-gCq65qN53RI-unsplash.jpg) center no-repeat;
    background-size: cover;
    color: white;
    padding: 20px;
}
p{
    color: #e7c82f;
    font-size: 20px;
}
.production{
    margin-top: 3em;
    width: 50%;
}
.access{
    width: 80%;
    font-size: 20px;
    color: #e7c82f;
}
.form{
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
::placeholder{
    color: #22046b;
}
input[type="text"]{
    border: 2px solid #22046b;
    outline: none;
}
input[type="password"]{
    border: 2px solid #22046b;
    outline: none;
}
input[type="email"]{
    border: 2px solid #22046b;
    outline: none;
}
input[type="submit"]{
    background-color: white;
    width: 35%;
    border-radius: 15px;
    font-size: 15px;
    padding: 5px;
    color: #22046b;
    border: 2px solid #22046b;
    outline: none;
}
button>a{
    text-decoration: none;
    color: white;
}
button{
    border: 2px solid #22046b;
    background-color: #22046b;
    color: white;
    border-radius: 5px;
    font-size: 15px;
    padding: 5px;
}
button:hover, input[type="submit"]:hover{
    cursor: pointer;
}
span{
    color: #e7c82f;
}

@media screen and (max-width: 425px) and (min-width: 320px){
    .formwrapper{
        display: flex;
        flex-direction: column;
        height: auto;
    }
    p{
        font-size: 13px;
    }
}